doctype html
html(lang="en")

  head
    meta(charset="utf-8")
    title Full Screen Video BG
    meta(name="viewport" content="width=device-width, initial-scale=1")
    link(href="assets/css/wavy.css" rel="stylesheet" type="text/css")
    <!--[if lt IE 9]>
    script(type="text/javascript").
      document.createElement('video');
    <![endif]-->

  body
    
    include includes/heroWrapper.jade
    include includes/videoCurtain.jade  


