doctype html
html(lang="en")

head
  meta(charset="utf-8")
  title= Full Screen Video BG
  link(href="assets/css/wavy.css" rel="stylesheet" type="text/css")
  // may not need these
  link(href="http://fonts.googleapis.com/css?family=Oleo+Script+Swash+Caps:700" rel="stylesheet" type="text/css")

body
  
  section.hero
    h1 Wave Gawd
    a[href=#] Watch on Youtube

  nav.social

  #overlay

  #bg
    video#bg-video[muted autoplay loop]
