.btn {
    
  display: inline-block;
  margin: 1rem;
  padding: 0.4em 1em;
  font-size: 1em;
  color: $link;
  text-decoration: none;
  background-color: transparent;
  border: 1px solid $link;
  @include transition(all .2s linear);

  &:hover {
    background-color: $link;
    color: $dark;
  }

  &:focus { outline: none; }

}
