.btn {
		
	display: inline-block;
	margin: 1rem;
	padding: 0.4em 1em;
	font-size: $fz-mobile;
	line-height: 1;
	color: $link;
	text-decoration: none;
	text-transform: uppercase;
	background-color: transparent;
	min-width: 5.25em;
	border: 1px solid $link;
	@include transition(all .2s linear);

	&:hover {
		background-color: $link;
		color: $dark;
	}

	&:focus { outline: none; }

	@media screen and (min-width: 800px) {
		font-size: $fz-desktop;
	}
}

.btn--dismiss {
	@extend %buttonReset;
	@include position(fixed, 0 0 null null);
	width: 3.325em;
	padding: 2rem;
	font-family: monospace;
	font-size: 2rem;
	color: rgba(255,255,255, 0.5);
	@include transition(color linear 0.2s);

	&:hover {
		color: rgba(255,255,255,1);
		background-color: green;		
	}

}