.hero-wrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 100vh;
}

.hero {
  text-align: center;
  position: relative;
  z-index: 3;
  font-size: 1rem;
  padding: 0 1.5em;  
}

