@import '0-normalize';
@import 'bourbon/bourbon';

// FONT VIA GOOGLE FONTS
@import url(https://fonts.googleapis.com/css?family=Inconsolata:400,700);
@import url(https://fonts.googleapis.com/css?family=Playfair+Display:400,700,900);

$link: white;
$dark: black;

// Base & Typography
@import '1-typography';
// Hero
@import '2-hero';
// Video
@import '2-video';




.btn {
    
    outline: 1px solid $link;
    color: $link;
    font-size: 1em;
    padding: 0.4em 1em;
    text-decoration: none;
    // text-transform: uppercase;
    display: inline-block;
    margin: 1rem;

    &:hover {
        background-color: $link;
        color: $dark;
    }

}
