// Tools [ Normalize & Bourbon ]
@import '0-normalize';
@import '0-comrade';
@import 'bourbon/bourbon';
// Base & Typography
@import '1-base';
// Modules [ Hero, Overlay, Video, Button ]
@import '2-hero';
@import '2-overlay';
@import '2-video';


.bg {
	&-w { background-color: #fff; }
	&-b { background-color: #000; }
	&-g { background-color: #ccc; }
}

.video {
	
	&__curtain {
		background-color: pink;
		z-index: 3;
		position: absolute;
		transform: translate3d(0, -100%, 0);
		transition: all .3s linear;
	}

	&__wrapper {
		padding-bottom: 56.25%;
		height: 0;
		position: relative;

		max-width: 1280px;
		width: 90%;

	}
}

.isVisible {
	transform: translate3d(0, 0, 0);
}




%buttonReset {
	background-color: transparent;
	border: none;
	&:hover { cursor: pointer; }
	&:focus { outline: none; }
}

.btn--dismiss {
	@extend %buttonReset;
	display: block;
}

@import '2-btn';