.hero-wrapper
  video#videoBackground.video__bg(muted autoplay loop poster="assets/img/wave-god.jpg")
    source(src="assets/video/wavy-web.webm" type="video/webm")
    source(src="assets/video/wavy-web.mp4" type="video/mp4")

  .overlay.video__overlay

  button#videoButton.video__btn &#9612;&#9612;
        
  section.hero
    h1 Fullscreen Video Background
    p YOLO hashtag pug, tofu mlkshk meh gochujang godard tumblr helvetica. Art party gastropub +1 lo-fi, roof party marfa artisan. Intelligentsia 90's organic, roof party marfa asymmetrical fanny pack everyday carry sustainable tacos cray.
    nav
      //- a.btn(href="https://www.youtube.com/watch?v=ITZNHsad2fE" target="_blank") Watch
      //- a.btn(href="https://soundcloud.com/krooks-x-up/sets/stanley-vaughn-the-rarity" target="_blank") Listen
      a#curtainOpen.btn.btn--youtube.testButtonHook(href='#') Watch

    