.youtubeCurtain.yt__curtain.video__curtain.fullbleed.bg-b.flex-ver.f-middle.f-center.isVisible  

  section.hero
    h2 Youtube Embed
    p Write some-semi descriptive text write here so that this repo is even remotely useful to someone.

  .wrapper
    .yt__box
      #ytPlayer
  
  button.youtubeClose.btn--dismiss.top.right.absolute &#9747;

script(type="text/javascript").
  var curtain, target, videoIframe, youtubeBtn, isVisible;
  curtain = document.getElementsByClassName('youtubeCurtain')[0];
  youtubeBtn = document.getElementsByClassName('testButtonHook')[0];
  curtainClose = document.getElementsByClassName('youtubeClose')[0];
  
  // for animation.css
  var animationEntrance = "isVisible bounceInDown";
  var animationExit = "bounceOutTop";

  function toggleVideoCurtain() {
    var isVisible = curtain.classList.contains('isVisible');      
    isVisible ? curtain.classList.remove('isVisible') : curtain.classList.add('isVisible');
  }

  youtubeBtn.addEventListener('click', function(e) {
    console.log('youtube trigger');
    toggleVideoCurtain();
  });

  curtainClose.addEventListener('click', function(e) {
    console.log('youtube close');
    toggleVideoCurtain();
  });

  // 2. This code loads the IFrame Player API code asynchronously.
  var tag = document.createElement('script');
  tag.src = "https://www.youtube.com/iframe_api";
  
  var firstScriptTag = document.getElementsByTagName('script')[0];
  firstScriptTag.parentNode.insertBefore(tag, firstScriptTag);

  // 3. This function creates an <iframe> (and YouTube player)
  //    after the API code downloads.
  var player;
  function onYouTubeIframeAPIReady() {
    console.log('onYouTubeIframeAPIReady fired')
    player = new YT.Player('ytPlayer', {
      height: '390',
      width: '640',
      videoId: 'ITZNHsad2fE',
      events: {
        'onReady': onPlayerReady,
        'onStateChange': onPlayerStateChange
      }
    });
  }

  // 4. The API will call this function when the video player is ready.
  function onPlayerReady(event) {
    event.target.playVideo();
  }

  // 5. The API calls this function when the player's state changes.
  //    The function indicates that when playing a video (state=1),
  //    the player should play for six seconds and then stop.
  var done = false;
  
  function onPlayerStateChange(event) {
    if (event.data == YT.PlayerState.PLAYING && !done) {
      setTimeout(stopVideo, 6000);
      done = true;
    }
  }
  
  function stopVideo() {
    player.stopVideo();
  }  

  console.log(player);