.youtubeCurtain.yt__curtain.video__curtain.fullbleed.bg-b.flex-vert.f-middle.f-center.ta-c

  section.hero

  .wrapper

    .yt__box
      #ytPlayer

    .yt__copy
      h2 Youtube Embed
      p Write some-semi descriptive text write here so that this repo is even remotely useful to someone.  

    button.youtubeClose.yt__close &#9747;